<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd ">

    <websocket:handlers>
        <websocket:mapping path="/marcohandler" handler="marcoHandler"/>
    </websocket:handlers>

    <bean id="marcoHandler" class="com.lq.code.WebSocket.MarcoHandler"/>

</beans>