<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        ">

  <!-- ActivieMQ的连接工厂 -->
  <bean id="targetConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory" >
     <property name="brokerURL" value="tcp://127.0.0.1:61616"/>
  </bean>
  <!-- spring jms 为我们提供的连接池 获取一个连接工厂 -->
  <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
      <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
  </bean>

 <!-- 消息目的地 消息队列模式-->
 <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
     <constructor-arg value="SpringActiveMQMsg"/>
 </bean>

 <!-- jms 消息模版 -->
 <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
     <property name="connectionFactory" ref="connectionFactory"/>
     <!-- 默认主题 -->
     <property name="defaultDestination" ref="queueDestination"/>
     <!-- true:消息队列模式  false:订阅发布模式  默认：true-->
     <property name="pubSubNoLocal" value="true"/>
     <!-- 发送超时-->
     <property name="receiveTimeout" value="10000"/>
 </bean>





  </beans>